/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"
@import "compass/utilities/general/clearfix"
@import "compass/css3"

$orange : #FF3500
$gray : #e0e0e0
html
    background: url("../images/background_schraffiert.jpg")
    background-color: red

h1,h2
    font-family: "Donegal One", Helvetica
a
    color: $orange
body
    background: url("../images/background.png") center top no-repeat transparent
    margin: 1rem 0 0 0
    font-family: Monda
    #wrapper
        width: 60rem
        margin: 0 auto
        background-color: #000
    header
        background-color: #ff0000
        height: 18rem
        background-color: $orange
        position: relative
        img, h1
            position: absolute
            top: 4rem
            left: 4rem
        img

        h1
            top: 7.9rem
            left: 13rem
            font-size: 2.5rem
            font-weight: 700
            color: #FFF
        aside
            width: 23rem
            background-color: #000
            float: right
            color: #FFF
            height: 100%
            padding: 1.5rem
            @include box-sizing(border-box)
            font-family: Monda
    section
        background-color: #c0c0c0
        clear: both
        height: 100%
        @include clearfix
        margin-bottom: 2rem
        article
            float: left
            width: 37rem
            background-color: #ececec
            padding: 1.5rem
            @include box-sizing(border-box)

            h2
                font-size: 2.5rem
                line-height: 120%
                margin: 0 0 1rem 0
            h3
                font-size: 2rem
                margin: 1rem 0 1rem 0
            p
                font-size: 0.85rem
                line-height: 170%
                margin: 0.75em 0

            div.event
                margin: 0 auto
                border: 4px solid $gray
                padding: 1rem
                margin-bottom: 1rem
                background-color: #fff
                h4
                    line-height: 1.5em
                    font-size: 1.5rem
                p

                a
                    float: right
                img
                    float: left
                    margin: 0 18px 18px 0
                    padding: 2px
                    border: 1px solid $gray
        aside
            float: right
            width: 23rem
            height: 18rem
            @include box-sizing(border-box)
            padding: 1.5rem
            background-color: #fff
            border-right: 1px solid $gray
            font-family: Monda
    footer
        height: 10rem
        background-color: rgba(0,0,0,0.8)

.clearfix
    @include clearfix
