/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset"
//@import "compass/utilities/general/clearfix"
@import "compass/css3"


$orange: #ff3500
$gray: #e0e0e0
$white: #fff


// -- Layout ------------------------------------------------------------------
%clearfix
    clear: both
    overflow: hidden

.container
    max-width: 60rem
    margin: 0 auto
    @extend %clearfix

.right
    float: right

.clearfix
    @extend %clearfix



h1,
h2
    font-family: "Donegal One", Helvetica, Arial, sans-serif

a
    color: $orange

body
    margin: 0
    font-family: Monda

iframe
    border: 0


// -- Header ------------------------------------------------------------------
header
    background-color: $orange

    .container
        position: relative

    .header-inner
        float: left
        width: 66%
        position: absolute
        height: 100%

    a.logo
        display: block
        margin: 4rem 0 0 1rem

        img
            float: left

    h1
        display: inline-block
        margin: 4rem 0 0 1rem
        font-size: 2.5rem
        font-weight: 700
        color: #fff

    aside
        width: 34%
        background-color: #000
        float: right
        color: #fff
        padding: 1.5rem
        @include box-sizing(border-box)

    nav
        position: absolute
        bottom: 0
        background-color: $orange

        a
            display: inline-block
            color: #fff
            padding: 1rem
            text-transform: uppercase
            text-decoration: none

        a:hover,
        a:focus
            outline: 0
            background-color: #333


// -- Content -----------------------------------------------------------------
section
    background-color: #c0c0c0
    @extend %clearfix

    article
        float: left
        width: 66%
        min-height: 50rem

        background-color: #ececec
        padding: 1.5rem
        @include box-sizing(border-box)

        h2
            font-size: 2.5rem
            line-height: 120%
            margin: 0 0 1rem 0

        h3
            font-size: 2rem
            margin: 1rem 0 1rem 0

        p
            font-size: 0.85rem
            line-height: 170%
            margin: 0.75em 0

        li
            font-size: 0.85rem

        div.event,
        div.person,
        .person-overview
            margin: 0 auto
            border: 4px solid $gray
            padding: 1rem
            margin-bottom: 1rem
            background-color: #fff

            h4
                line-height: 1.5em
                font-size: 1.5rem
                margin: 0 0 1.2rem

                a
                    float: none
                    color: #000

            img
                float: left
                margin: 0 18px 18px 0
                padding: 2px
                border: 1px solid $gray

            ul.kontakte a
                float: none

        .personen-overview:nth-of-type(even)
            @extend %clearfix

        div.person
            a
                float: none

            ul.kontakte
                height: 200px

            ul.tags
                padding-top: 1.2rem
                line-height: 3.2rem

        div.person-overview
            width: 49%
            float: left
            box-sizing: border-box
            margin: 0.5%

    aside
        float: right
        width: 34%

        @include box-sizing(border-box)
        padding: 1.5rem
        background-color: #fff


// -- Footer ------------------------------------------------------------------
footer
    color: $white
    background-color: #252525

    // For light text on dark backgrounds:
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    h2 span
        font-size: 0.5em

.ppl
    a
        position: relative
        background-position: center
        background-repeat: no-repeat
        background-size: cover

        width: 80px
        height: 80px

        float: left
        text-indent: -100em
        background-color: #fff
        box-sizing: border-box
        overflow: hidden

        &:hover::before,
        &:focus::before
            @include opacity(0.5)
            background-color: $orange
            position: absolute
            content: ''
            width: 100%
            height: 100%
            top: 0
            left: 0


// -- Speaker-Liste -----------------------------------------------------------
ul.kontakte
    list-style-type: none
    padding: 0
    margin: 0

ul.tags
    @extend %clearfix
    padding: 0
    margin: 0
    line-height: 2.6rem

    li
        background-color: $orange
        color: $white
        display: inline
        margin: 0 0.4rem 0 0
        padding: 0.4rem 0.8rem
        @include border-radius(12px)



