/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset" */
/* line 14, ../sass/screen.sass */
html {
  background: url("../images/background_schraffiert.jpg");
  background-color: red;
}

/* line 18, ../sass/screen.sass */
h1, h2 {
  font-family: "Donegal One", Helvetica, Arial, sans-serif;
}

/* line 20, ../sass/screen.sass */
a {
  color: #FF3500;
}

/* line 22, ../sass/screen.sass */
body {
  background: url("../images/background.png") center top no-repeat transparent;
  margin: 1rem 0 0 0;
  font-family: Monda;
}
/* line 26, ../sass/screen.sass */
body #wrapper {
  width: 60rem;
  margin: 0 auto;
  background-color: #000;
}
/* line 30, ../sass/screen.sass */
body header {
  background-color: #ff0000;
  height: 18rem;
  background-color: #FF3500;
  position: relative;
}
/* line 35, ../sass/screen.sass */
body header img, body header h1 {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
/* line 41, ../sass/screen.sass */
body header h1 {
  top: 7.9rem;
  left: 13rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #FFF;
}
/* line 47, ../sass/screen.sass */
body header aside {
  width: 23rem;
  background-color: #000;
  float: right;
  color: #FFF;
  height: 100%;
  padding: 1.5rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Monda;
}
/* line 56, ../sass/screen.sass */
body nav {
  background-color: #FF3500;
}
/* line 59, ../sass/screen.sass */
body nav a {
  color: #fff;
  padding: 1em;
}
/* line 62, ../sass/screen.sass */
body section {
  background-color: #c0c0c0;
  clear: both;
  height: 100%;
  overflow: hidden;
  *zoom: 1;
}
/* line 67, ../sass/screen.sass */
body section article {
  float: left;
  width: 37rem;
  background-color: #ececec;
  padding: 1.5rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 74, ../sass/screen.sass */
body section article h2 {
  font-size: 2.5rem;
  line-height: 120%;
  margin: 0 0 1rem 0;
}
/* line 78, ../sass/screen.sass */
body section article h3 {
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
}
/* line 81, ../sass/screen.sass */
body section article p {
  font-size: 0.85rem;
  line-height: 170%;
  margin: 0.75em 0;
}
/* line 85, ../sass/screen.sass */
body section article div.event, body section article div.person, body section article .person-overview {
  margin: 0 auto;
  border: 4px solid #e0e0e0;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
}
/* line 91, ../sass/screen.sass */
body section article div.event h4, body section article div.person h4, body section article .person-overview h4 {
  line-height: 1.5em;
  font-size: 1.5rem;
  margin: 0 0 1.2rem;
}
/* line 95, ../sass/screen.sass */
body section article div.event h4 a, body section article div.person h4 a, body section article .person-overview h4 a {
  float: none;
  color: #000;
}
/* line 99, ../sass/screen.sass */
body section article div.event a, body section article div.person a, body section article .person-overview a {
  float: right;
}
/* line 101, ../sass/screen.sass */
body section article div.event img, body section article div.person img, body section article .person-overview img {
  float: left;
  margin: 0 18px 18px 0;
  padding: 2px;
  border: 1px solid #e0e0e0;
}
/* line 107, ../sass/screen.sass */
body section article div.event ul.kontakte a, body section article div.person ul.kontakte a, body section article .person-overview ul.kontakte a {
  float: none;
}
/* line 111, ../sass/screen.sass */
body section article div.person a {
  float: none;
}
/* line 114, ../sass/screen.sass */
body section article div.person ul.kontakte {
  height: 200px;
}
/* line 117, ../sass/screen.sass */
body section article div.person ul.tags {
  padding-top: 1.2rem;
  line-height: 3.2rem;
}
/* line 120, ../sass/screen.sass */
body section article div.person-overview {
  width: 49%;
  float: left;
  box-sizing: border-box;
  margin: 0.5%;
}
/* line 126, ../sass/screen.sass */
body section aside {
  float: right;
  width: 23rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  font-family: Monda;
}
/* line 134, ../sass/screen.sass */
body footer {
  background-color: rgba(0, 0, 0, 0.8);
  width: 60rem;
  margin: 0 auto;
  padding: 0;
}
/* line 141, ../sass/screen.sass */
body footer h2, body footer h3 {
  color: #FFF;
  margin: 0.78rem 0 0.5rem 28px;
  padding: 0;
}
/* line 146, ../sass/screen.sass */
body footer ul {
  list-style-type: none;
  margin: 0;
  padding: 28px 0;
}
/* line 151, ../sass/screen.sass */
body footer li.karte {
  background-color: #FFF;
  border: 1px solid #FF3500;
  width: 242px;
  height: 242px;
  padding: 1.2rem;
  margin: 0 0 2rem 28px;
  float: left;
}
/* line 161, ../sass/screen.sass */
body footer li.karte img {
  float: left;
  margin: 0 12px 12px 0;
  padding: 2px;
  border: 1px solid #e0e0e0;
}
/* line 167, ../sass/screen.sass */
body footer li.karte h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
/* line 171, ../sass/screen.sass */
body footer li.karte:first {
  margin: 0;
}
/* line 174, ../sass/screen.sass */
body footer ul.kontakte {
  font-size: 0.8rem;
  height: 78px;
}
/* line 178, ../sass/screen.sass */
body footer ul.tags li {
  font-size: 0.8rem;
  margin: 0 0.4rem 0 0;
  padding: 0.2rem 0.4rem;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  white-space: nowrap;
}
/* line 187, ../sass/screen.sass */
body ul.kontakte {
  height: 120px;
  padding: 0;
  margin: 0;
}
/* line 194, ../sass/screen.sass */
body ul.tags {
  padding: 0;
  margin: 0;
  line-height: 2.6rem;
}
/* line 199, ../sass/screen.sass */
body ul.tags li {
  background-color: #FF3500;
  color: #FFF;
  display: inline;
  margin: 0 0.4rem 0 0;
  padding: 0.4rem 0.8rem;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

/* line 208, ../sass/screen.sass */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 212, ../sass/screen.sass */
footer h2 span {
  font-size: 0.5em;
}

/* line 215, ../sass/screen.sass */
.ppl a {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
  float: left;
  text-indent: -100em;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 230, ../sass/screen.sass */
.ppl a:hover::before, .ppl a:focus::before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  background-color: #FF3500;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
